.movie-article {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 50%;
    min-height: 280px;
    margin: 10px 10px 30px;
    padding: 15px 15px 15px 190px;
    background-color: #f2f2f2;
    border: 1px solid #aaa;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.15);
}
.movie-title {
    font-size: 28px;
}
.small {
    margin-left: 10px;
    font-size: 14px;
    font-weight: normal;
}
.movie-title-sub {
    font-size: 16px;
}
.image {
    position: absolute;
    top: -20px;
    left: 15px;
    margin: 10px 0;
    width: 160px;
}
.image img {
    width: 160px;
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.2);
}
.caption {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.movie-para {
    font-size: 15px;
    color: #444;
}
.genres {
    padding: 0;
    overflow: hidden;
    list-style: none;
}
.genres .item {
    float: left;
    padding: 0;
    list-style: none;
    font-size: 12px;
    color: #666;
}
.genres .item + .item {
    margin-left: 10px;
}